<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Django</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        <h1>Bienvenido a mi proyecto Django</h1>
    </header>
    <div class="container">
        <button>Haz clic aquí</button>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
